<div *ngIf="data">
  <img [src]="data.photo" class="thumbnail" />
  
  <button
    class="button expanded"
    [class.success]="data.state === 'selling'"
    [class.secondary]="data.state === 'sold'"
    (click)="itemSeleccionado(data.id)">
    <!-- Paso como parámetro el ID del producto seleccionado: 'data.id'. -->
      <span *ngIf="data.state === 'selling'">
        Comprar por {{ data.price | number: '1.2' }} €
      </span>
      <span *ngIf="data.state === 'sold'">
        Ver detalles
      </span>
    </button>
</div>
