<div>
  <div class="row">
    <div class="small-6 medium-2 large-3 columns">
      <input [(ngModel)]="productFilter.text" type="text" placeholder="Pe. Uncharted">
    </div>
    <div class="small-6 medium-2 large-3 columns">
      <select [(ngModel)]="productFilter.category">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <!-- Modificación RedWinePath -->
    <div>
      <!-- Pendiente añadir etiqueta para cada filtro -->
      <!-- <label for="stateId">Estado</label> -->
      <div class="small-6 medium-2 large-3 columns">
        <select [(ngModel)]="productFilter.state" id="stateId">
          <option value="" ng-if="false"></option>
          <option *ngFor="let state of _productState" [value]="state.id">{{ state.value }}</option>
        </select>
      </div>
    <div class="small-12 medium-3 large-2 columns">
      <button (click)="notifyHost()" class="button expanded">Buscar</button>
    </div>
    </div>
  </div>
  
  <div class="row">
    <div class="small-6 medium-2 large-3 columns">
      <input [(ngModel)]="productFilter.minPrice" type="number" placeholder="Precio mínimo" min="0" step="5" ng-change="true">
    </div>
    <div class="small-6 medium-2 large-3 columns">
      <input [(ngModel)]="productFilter.maxPrice" type="number" placeholder="Precio máximo" min="0" step="5" ng-change="true">
    </div>
  </div>
</div>




